<div class="container">
  <form action="">
    <div class="row">
      <div class="form-group col-md-4 col-12">
        <label for="validationTooltip01">Nombre</label>
        <input type="text" class="form-control" id="validationTooltip01" value="" required>
      </div>
      <div class="form-group col-md-2 col-12">
        <label class="" for="inputState">AÑO</label>
        <select id="inputState" class="form-control">
          <option value="2019" selected>2019</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
        </select>
      </div>
      <div class="form-group col-md-2 col-12">
        <label class="" for="inputState">MES</label>
        <select id="inputState" class="form-control">
          <option value="2019" selected>ENERO</option>
          <option value="2018">FEBRERO</option>
          <option value="2018">MARZO</option>
          <option value="2018">ABRIL</option>
          <option value="2018">MAYO</option>
          <option value="2018">JUNIO</option>
          <option value="2018">JULIO</option>
          <option value="2018">AGOSTO</option>
          <option value="2018">SEPTIEMBRE</option>
          <option value="2017">OCTUBRE</option>
          <option value="2016">NOVIEMBRE</option>
          <option value="2016">DICIEMBRE</option>
        </select>
      </div>
      <div class="form-group col-md-4 col-12">
        <label class="" for="inputState">DEPENDENCIA</label>
        <select id="inputState" class="form-control">
          <!-- <option value="" selected>DEPENDENCIA</option> -->
          <option value="">OBRAS PÚBLICAS</option>
          <option value="">CATASTRO MUNICIPAL</option>
          <option value="">INSTITUO MUJER</option>
          <option value="">CULTURA Y DEPORTE</option>
          <option value="">INSTITUTO JUVENTUD</option>
          <option value="">SEGURIDAD PÚBLICA</option>
          <option value="">FINANZAS PÚBLICAS</option>
          <option value="">AGRICULTURA Y GANADERÍA</option>
        </select>
      </div>
      <div class="col-12">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="validatedCustomFile" required>
          <label class="custom-file-label" for="validatedCustomFile">Seleccionar archivo</label>
          <!-- <div class="invalid-feedback">Example invalid custom file feedback</div> -->
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-12 col-md-4">
        <button type="button" name="button" class="btn button-morado col-12">GUARDAR</button>
      </div>
    </div>
  </form>
  <hr>
  <form action="">
    <div class="form-group col-md-4 col-12">
      <label class="" for="inputState">DEPENDENCIA</label>
      <select id="inputState" class="form-control">
        <option value="">OBRAS PÚBLICAS</option>
        <option value="">CATASTRO MUNICIPAL</option>
        <option value="">INSTITUO MUJER</option>
        <option value="">CULTURA Y DEPORTE</option>
        <option value="">INSTITUTO JUVENTUD</option>
        <option value="">SEGURIDAD PÚBLICA</option>
        <option value="">FINANZAS PÚBLICAS</option>
        <option value="">AGRICULTURA Y GANADERÍA</option>
      </select>
    </div>
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col" class="text-center pb-0 font-weight-bold text-white">RUBRO</th>
          <th scope="col" class="text-center pb-0 font-weight-bold text-white">MES</th>
          <th scope="col" class="text-center pb-0 font-weight-bold text-white">AÑO</th>
          <th scope="col" class="text-center pb-0 font-weight-bold text-white">ARCHIVO</th>
        </tr>
        <tr>
          <th scope="col" class="pt-1"> <input type="text" name="" value="" class="col-12"> </th>
          <th scope="col" class="pt-1"> <input type="text" name="" value="" class="col-12"> </th>
          <th scope="col" class="pt-1"> <input type="text" name="" value="" class="col-12"> </th>
          <th scope="col" class="pt-1"> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">PRESUPUESTO PAVIMENTACIÓN</th>
          <td class="text-center">ABRIL</td>
          <td class="text-center">2019</td>
          <td class="text-center"><a href="#">VER ARCHIVO</a></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
