<div class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light uk-inline"
  data-src="./assets/images/fotografia/municipio.jpg" uk-img>
  <div class="uk-position-center-left bg-morado mt-5 ml-0 mr-md-5 px-5 border-medium-azul">
    <h2 class="strong-pincipal ml-0 mr-md-5 px-5 m-0">NUESTRO MUNICIPIO</h2>
  </div>
</div>

<div class="container my-5">
  <h1 class="text-center strong text-azul-black mb-0">El Mezquital</h1>
  <h1 class="text-center strong text-azul-black mt-0">♦♦♦</h1>
  <p>
    El municipio de Mezquital se encuentra en la parte sureste en el estado de Durango. El mapa de México indica que la
    ubicación geográfica del municipio de Mezquital de acuerdo a su extensión territorial son 23° 28’ 22” latitud norte,
    y 104° 24’ 40” longitud oeste. La altitud de dicho municipio es de 1,400 metros sobre el nivel del mar y cuenta con
    una extensión territorial total de 7,196.5 kilómetros cuadrados.
  </p>
  <p>
    El municipio de Mezquital limita al norte con los municipios de Súchil, Nombre de Dios y Durango, en la zona sur con
    el estado de Nayarit, al este con el estado de Zacatecas, y al poniente con el estado de Zacatecas y con el municipio
    de Pueblo Nuevo. El Instituto Nacional de Estadística y Geografía “INEGI” señaló que de acuerdo a los resultados que
    se obtuvieron del censo de población realizado en el 2010, el municipio de Mezquital cuenta con una población total
    de 33,396.
  </p>
</div>

<div class="bg-comunicaciones py-4">
  <div class="container ">
    <h1 class="text-center strong text-white mb-0">Infraestructura de comunicaciones</h1>
    <h1 class="text-center strong text-white mt-0">♦♦♦</h1>
    <div class="row">
      <div class="uk-child-width-1-3@s" uk-grid uk-height-match="target: > div > .uk-card; row: false">
        <div class="uk-first-column">
          <div class="uk-card uk-card-default uk-card-small uk-card-body" uk-height-match>
            <h3 class="uk-card-title text-azul-black">MEDIOS DE COMUNICACIÓN</h3>
            <p>
              El municipio cuenta con servicios de telégrafos, una agencia COTEL; correos con: una administración, una agencia y
              27 expendios; teléfono domiciliario, con acceso a internet  en la cabecera municipal, una red de telefonia celular
              con acceso a internet y en la mayoría de las localidades a través de casetas telefónicas; la comunicación por radio
              de banda civil, recibe señales de televisión por antena parabólica; y frecuencia de radio A.M. y F.M.
              Existe ruta foránea de autobuses de pasajeros de la ciudad de Durango a la cabecera municipal, y viceversa, con frecuencia diaria;
              al igual que a la zona sierra; con una distancia desde 80 km hasta 240 km, en carretera pavimentada.
            </p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-small uk-card-body" uk-height-match>
            <h3 class="uk-card-title text-azul-black">VÍAS DE COMUNICACIÓN</h3>
            <p>
              El municipio tiene una eficiente red de comunicaciones terrestres, realizando su comunicación internamente a través de
              caminos vecinales pavimentados en su mayoria.
              La longitud de carretera por tipo de camino al 31 de diciembre de 2009, es de 42 kilómetros pavimentados de carretera
              troncal federal y 513 kilómetros de caminos rurales revestidos. De la longitud de carretera  federal, 291 kilómetros son
              administrados por el Gobierno del Estado.
              Por la vía aérea el servicio es proporcionado por líneas particulares, existiendo aproximadamente 7 aeródromos en diferentes
              localidades para naves pequeñas y medianas.
            </p>
          </div>
        </div>
        <div>
          <img class="uk-card uk-card-default uk-card-small" data-src="./assets/images/fotografia/nuestro_municipio/comunicaciones.jpg" alt="" uk-img uk-height-match>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <h1 class="text-center strong text-azul-black mb-0">Infraestructura social</h1>
  <h1 class="text-center strong text-azul-black mt-0">♦♦♦</h1>
  <div class="uk-child-width-1-3@s uk-grid-match" uk-grid>
    <div>
      <div class="uk-card uk-card-hover uk-card-small" uk-height-match>
        <div class="uk-card-media-top">
          <img src="./assets/images/fotografia/nuestro_municipio/educacion.jpg" alt="">
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title text-azul-black">EDUCACIÓN</h3>
          <p class="text-small">
            El municipio cuenta con la infraestructura adecuada para impartir la educación de
            nivel pre-escolar, primaria, secundaria, bachillerato y profesional, ya que
            cuenta con una unidad del Tecnológico de Durango a Distancia y una escuela comercial
            (en la cabecera municipal).
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-hover uk-card-small" uk-height-match>
        <div class="uk-card-media-top">
          <img src="./assets/images/fotografia/nuestro_municipio/salud.jpg" alt="">
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title text-azul-black">SALUD</h3>
          <p class="text-small">
            La atención médica en el municipio se otorga a través de los centros
            de la Secretaría de Salud ubicados uno, en la cabecera municipal, en Guajolota y otro en Huazamota,
            así como unidades móviles de salud distribuidas en el resto del municipio, más 20 clínicas de IMSS Solidaridad.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-hover uk-card-small" uk-height-match>
        <div class="uk-card-media-top">
          <img src="./assets/images/fotografia/nuestro_municipio/abasto.jpg" alt="">
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title text-azul-black">ABASTO</h3>
          <p class="text-small">
            El municipio cuenta con centros comerciales así como con suficientes tiendas campesinas
            DICONSA y pequeñas misceláneas que atienden las necesidades del mismo, abasteciéndose todas
            ellas en la ciudad capital del estado y los centros comerciales de distintos proveedores.
          </p>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-hover uk-card-small" uk-height-match>
        <div class="uk-card-media-top">
          <img class="img-fluid" src="./assets/images/fotografia/nuestro_municipio/deporte.jpg" alt="">
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title text-azul-black">DEPORTE</h3>
          <p class="text-small">
            Por lo que respecta a la recreación y el deporte, se cuenta con canchas en la totalidad de las
            poblaciones, donde se practica indistintamente: basquetbol, voleibol, béisbol, fútbol, entre otros.
          </p>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-hover uk-card-small" uk-height-match>
        <div class="uk-card-media-top">
          <img src="./assets/images/fotografia/nuestro_municipio/vivienda.jpg" alt="">
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title text-azul-black">VIVIENDA</h3>
          <p class="text-small">
            Dentro del municipio encontramos diferentes tipos de casa-habitación, que van desde adobe, bloque y
            ladrillo en la zona del valle y Huazamota hasta las de madera y palma en la zona habitada por las
            diferentes etnias. A finales de 2010, el municipio cuenta con 6,246 viviendas particulares con 33,081
            ocupantes, correspondiéndole un índice de hacinamiento de 5.2 personas por vivienda.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-hover uk-card-small" uk-height-match>
        <div class="uk-card-media-top">
          <img src="./assets/images/fotografia/nuestro_municipio/servicios.jpg" alt="">
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title text-azul-black">SERVICIOS PÚBLICOS</h3>
          <p class="text-small">
            Mantenimiento a los recursos forestales del municipio.
            Alumbrado público, únicamente en la zona Valle. Cobertura municipal del 100 %.
            Mantenimiento de drenaje urbano, existe únicamente en la cabecera municipal en un 100%. La cobertura municipal es del 85.82%.
            Recolección de basura y limpieza de las vías públicas, el servicio se proporciona  en la cabecera municipal y los pueblos del Troncón, la China, Santa Gertrudis y Paura.
            Seguridad pública, un 100%.
            Pavimentación, un 100% únicamente en la cabecera municipal.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-economicas py-4">
  <div class="container ">
    <h1 class="text-center strong text-white mb-0">Infraestructura de comunicaciones</h1>
    <h1 class="text-center strong text-white mt-0">♦♦♦</h1>
    <div class="uk-child-width-1-3@s uk-grid-match" uk-grid>
      <div class="row" uk-height-match>
        <div class="col-12">
          <div class="uk-card uk-card-default uk-card-small uk-card-body m-1">
            <h3 class="uk-card-title text-azul-black m-0">AGRICULTURA</h3>
            <p class="m-0">
              Dentro de los cultivos cosechados en el año 2010, se registraron 85 hectáreas de frijol; 89.6 de
              maíz grano; 178 hectareas de alfalfa verde; 310 hectareas de avena forrajera; 7 hectareas de chile
              verde; 8 hectareas de tomate rojo (jitomate), dando un total de 677.6 hectáreas.
            </p>
          </div>
        </div>
        <div class="col-12">
          <div class="uk-card uk-card-default uk-card-small uk-card-body m-1">
            <h3 class="uk-card-title text-azul-black">COMERCIO</h3>
            <p class="">
              Se cuenta con establecimientos, cuyo objetivo es satisfacer las necesidades de primer orden de sus habitantes.
            </p>
          </div>
        </div>
      </div>
      <div class="">
        <div class="uk-card uk-card-default uk-card-small uk-card-body m-1" uk-height-match>
          <h3 class="uk-card-title text-azul-black m-0">GANADERÍA</h3>
          <p class="m-0">
            La población ganadera al 31 de diciembre de 1997 (cabezas), es: 76,294 de bovino,10,688 de porcino, 4,704 de
            ovino, 6,204 de caprino, 24,949 de equino, 95,045 de aves y 824 colmenas.
          </p>
          <p>
            Volumen de la producción de carne en canal de las especies ganaderas(1997) (toneladas): 2,176.6 de bovino,
            101.6 de porcino, 17.6 de ovino, 23.3 de caprino,677.3 de equino y 45.1 de aves.
          </p>
          <p>
            Volumen de la producción de otros productos pecuarios: 1,733.7 miles de litros de leche de bovinos, 1.1 miles
            de leche de caprinos. Se obtuvieron 3.1 toneladas de lana, 284.5 toneladas de huevo y 6.9. toneladas de miel.
          </p>
        </div>
      </div>

      <div class="row" uk-height-match>
        <div class="col-12">
          <img class="uk-card uk-card-default uk-card-small"
            data-src="./assets/images/fotografia/nuestro_municipio/economia2.jpg" alt="" uk-img uk-height-match>
        </div>
        <div class="col-12">
          <div class="uk-card uk-card-default uk-card-small uk-card-body m-1">
            <h3 class="uk-card-title text-azul-black">MINERÍA</h3>
            <p class="">
              Existen yacimientos de plata y plomo, no explotados.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 col-md-4" uk-height-match>
        <img class="uk-card uk-card-default uk-card-small"
          data-src="./assets/images/fotografia/nuestro_municipio/economia1.jpg" alt="" uk-img uk-height-match>
      </div>
      <div class="col-12 col-md-8" uk-height-match>
        <div class="uk-card uk-card-default uk-card-small uk-card-body">
          <h3 class="uk-card-title text-azul-black">GANADERÍA</h3>
          <p class="">
            En 2010, la población económicamente activa (PEA) del municipio de Mezquital, está formada por un total de 5,799 personas,
            cifra que representa el 25% de la población total del municipio; dedicándose a las siguientes actividades económicas:
            agricultura, ganadería, industria forestal y explotación minera.
          </p>
          <p>
            Para el sector primario el 75% de la población, (agricultura, ganadería, silvicultura, pesca y caza).
          </p>
          <p>
            Para el sector secundario el 15% de la población (minería, extracción de petróleo y gas, industria manufacturera, electricidad, agua y construcción).
            Para el sector terciario el 10% de la población económicamente activa (comercio, gobierno, transportes y otros servicios).
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid my-4">
  <h1 class="text-center strong text-azul-black mb-0">Medio físico</h1>
  <h1 class="text-center strong text-azul-black mt-0">♦♦♦</h1>
  <div class="row">
    <div class="col-12 col-md-4">
      <img src="./assets/images/fotografia/nuestro_municipio/mediofisico.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-12 col-md-8">
      Existen variados climas, tales como: cálido subhúmedo, seco estepario, templado, subhúmedo y semicálido.La temperatura media anual es de 19.2º C,
      con una precipitación media anual de 650 milímetros y régimen de lluvias en junio, julio, agosto y septiembre. El promedio de días con heladas es
      de 32.28 días al año. La vegetación con que cuenta el municipio es muy variada y se encuentra integrada en la zona boscosa principalmente por:
      pinos, encinos, cedros y manzanilla; en la zona del valle por eucaliptos, pirul, sabino, sauz, álamo, pinabete, huisache, mezquite, palo blanco,
      jarilla, olivo y en la zona más desértica por nopal, pitayos, garambullos, cactus, maguey, cardencha, biznaga, entre otros. Se pueden encontrar
      además en la zona de las barrancas y del valle árboles frutales como guayabo, durazno, mango, ciruelo, plátano, limón, lima, naranjo, arrayán,
      aguacate y zapote. Su fauna está compuesta principalmente por mamíferos como: venado, puma, coyote, conejo, liebre, zorra, gato montés, tigrillo, 
      zorrillo y jabalí entre otros; aves entre las que se encuentran águila real, zopilote, gavilán, aguililla, guajolote silvestre, codorniz, urracas,
      pericos y guacamayas. Reptiles como: coralillo, víbora de cascabel, boa, iguana y serpientes de diferentes especies; anfibios como: rana, tortuga,
      perro del agua, camarón de río y diferentes especies de peces, dentro de los principales arácnidos que pueden ser encontrados en la región se
      encuentra el alacrán y la tarántula.
    </div>
  </div>
</div>
