<div class="uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
  data-src="./assets/images/fotografia/principal.jpg" style="height: 90vh !important" uk-img>
  <h1 class="strong-pincipal text-center">
    <span class="text-grande-titulo">NUESTRA HISTORIA</span>
    <br>
    <span class="text-grande-titulo">♦♦♦</span>
    <div class="container mt-3">
      <div class="row">
        <div class="col-12 col-md-6">
          <button class="uk-button button-morado uk-align-center col-12">RESEÑA HISTORICA</button>
        </div>
        <div class="col-12 col-md-6">
          <button class="uk-button button-morado uk-align-center col-12">PERSONAJES ILUSTRES</button>
        </div>
      </div>
    </div>
  </h1>
</div>


<div class="container my-5">
  <h1 class="text-center strong text-azul-black mb-0">Reseña histórica</h1>
  <h1 class="text-center strong text-azul-black mt-0">♦♦♦</h1>
  <p>
    El Mezquital es un municipio que se mantuvo un tanto al margen de la evolución ocurrida en el resto de la entidad,
    por la concentración de población indígena de diversas familias  y lenguas y por lo intrincado de su territorio.
  </p>
  <p>
    Ibarra, el fundador de Durango, se preocupó por mantener en armonía la región, pues representaba la zona de enlace,
    con Zacatecas, donde tenían el apoyo de su tío Diego, del mismo apellido. Al parecer, se concentraron diversas tribus
    de la región por la guerra del Mixtón y por los combates entre chichimecas y españoles en el Malpaís, dirigidos estos
    últimos por el capitán Ahumada.
  </p>
  <p>
    Del convento de San Antonio de Durango, salieron diversos grupos de misioneros que visitaron la inexpugnable sierra
    que da su nombre al municipio, estableciendo el convento de San Francisco del Mezquital. Su labor se extendió hasta
    los grupos indígenas de Nayarit, impidiendo la conexión entre huicholes y tepehuanos en la sublevación de principios
    del siglo XVII, en ambos estados. Las  crónicas hablan de una concentración de tepehuanos en el Mezquital en 1618,
    pero seguramente no permanecieron aquí mucho tiempo, pues ninguna influencia queda de esta familia en las tribus establecidas.
  </p>
  <p>
    En 1787 se reportan en el Mezquital 1,310 indios y 266 españoles, lo que demuestra la ausencia de grupos importantes
    de naturales; el número de mestizos era de 119 y otras castas reunían 386 elementos. La resistencia al mestizaje es
    un fenómeno que se viene repitiendo hasta nuestros días, manteniendo la pureza de las razas de la región.
  </p>
  <p>
    Por su parte, Huazamota es otra área que se mantuvo separada del Mezquital durante la Colonia y el siglo XIX, para
    integrarse a este último en los años posteriores a la Revolución.
  </p>
  <p>
    Esta separación entre Huazamota y el Mezquital ha sido sólo de forma, pues antes de la venida de los españoles, durante
    la Colonia y en el Durango independiente los naturales cruzaban los límites sin el cuidado de las divisiones territoriales.
    Sus ritos y ceremoniales concentran todavía a diferentes regiones como si el hombre europeo jamás hubiera establecido
    contacto con ellos.
  </p>
</div>

<div class="my-5">
  <h1 class="text-center strong text-azul-black mb-0">Personajes ilustres</h1>
  <h1 class="text-center strong text-azul-black mt-0">♦♦♦</h1>
  <div class="py-5 bg-historia">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="uk-card uk-card-default uk-card-large uk-card-body">
            <h3 class="uk-card-title text-azul-black">AGUILAR DE LOS REYES <strong>(1770-1813)</strong></h3>
            <p>
              Insurgente indígena, de quien se desconoce el nombre de pila.  Se sabe que fue natural de San Miguel de Tamoaya
              de la región del Mezquital en el estado de Durango.  También se tiene referencias de que fue un soldado de las
              fuerzas del capitán insurgente Lorenzo Galindo, quien con su gente derrotó completamente una columna de realistas
              comandada por los alférez Cristóbal Rodríguez y Cornelio Blanco, a quienes atacaron en las cercanías de Taxicaringa
              de la misma región del Mezquital en territorio de Durango, el día 17 de mayo de 1813.
            </p>
            <p>
              En ese encuentro Aguilar de los Reyes manifestó valor y arrojo temerarios que le dieron la distinción de ser admirado
              por sus compañeros insurgentes y temido por sus enemigos los realistas. Él y sus compañeros de armas fueron también
              hombres valientes, que plenamente conscientes de la necesidad de sacudirse el yugo de la corona española, se
              decidieron a dar la vida en aras de la libertad y la Independencia de México.
            </p>
            <p>
              Ellos estaban seguros de que sucumbirían ante el poder militar, político y económico del virreinato consolidado plenamente
              con más de 300 años en el poder. Aún así en un gesto de sublime valentía se levantaron un día y atacaron a las fuerzas
              del gobierno constituido. Esa simple decisión es la que los enaltece y coloca en el sitial de veneración y respeto único
              de los héroes.
            </p>
          </div>
        </div>

        <div class="col-12 mt-5">
          <div class="uk-card uk-card-default uk-card-large uk-card-body">
            <h3 class="uk-card-title text-azul-black">JOSÉ ANDRÉS BARRAZA <strong>(????-1813)</strong></h3>
            <p>
              Insurgente, indio natural de Tamohaya del estado de Durango, que formaba parte de las fuerzas del capitán insurgente
              Lorenzo Galindo en la región sur del estado, se levantaron en apoyo al movimiento de la Independencia que se generalizaba
              en todo el país.
            </p>
            <p>
              El 17 de mayo de 1813 atacaron una partida de realistas comandada por los alféreces Cristóbal Rodríguez y Cornelio
              Blanco a quienes derrotaron completamente. Los insurgentes, inexpertos en la guerra, no supieron aprovechar militarmente
              el triunfo y se retiraron a su pueblo a descansar, donde fueron sorprendidos y aprehendidos por el alférez realista
              Miguel Carrasco, quien trató con lujo de crueldad a los 42 aprehendidos y con el fin de no tardar mucho la ejecución
              para que ésta sirviera de escarmiento; se formó un Consejo de Guerra en el que el mismo Carrasco fungió como juez que
              sentenció a los insurrectos.
            </p>
            <p>
              Como era de esperarse José Andrés Barraza junto con sus 41 compañeros de armas resultaron condenados a muerte y ejecutados
              en compañía del capitán Lorenzo Galindo y hermanos de éste, Pablo y Antonio Galindo y el sargento Francisco Moreno.  El
              duranguense José Andrés Barraza, indio humilde, carente de cultura fue un hombre fuera de lo común en la época en que vivió
              y sobre todo fue un valiente.
            </p>
          </div>

      </div>
    </div>
    </div>
  </div>
</div>
