<nav class="uk-navbar-container uk-margin bg-morado" uk-navbar>
  <div class="uk-navbar-left">

    <a class="uk-navbar-item uk-logo bg-blanco" href="#"><img src="./assets/images/logo.png" alt="" ></a>

    <ul class="uk-navbar-nav">
      <li>
        <a class="text-white font-weight-bold" [routerLink]="['pash']">REPORTES PASH</a>
      </li>
      <li>
        <a class="text-white font-weight-bold" [routerLink]="['transparencia']">TRANSPARENCIA</a>
      </li>
      <li>
        <a class="text-white font-weight-bold" [routerLink]="['galeria']">GALERÍA</a>
      </li>
      <li>
        <a class="text-white font-weight-bold" [routerLink]="['lgcg']">LGCG</a>
      </li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a class="text-white font-weight-bold" href="#">SALIR</a>
      </li>
    </ul>
  </div>
</nav>
