<div class="container my-5">
  <h1 class="text-center strong text-azul-black mb-0">Obras públicas</h1>
  <h1 class="text-center strong text-azul-black mt-0">♦♦♦</h1>

  <div class="table-responsive">
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col" class="text-center pb-0 font-weight-bold text-white">RUBRO</th>
          <th scope="col" class="text-center pb-0 font-weight-bold text-white">MES</th>
          <th scope="col" class="text-center pb-0 font-weight-bold text-white">AÑO</th>
          <th scope="col" class="text-center pb-0 font-weight-bold text-white">ARCHIVO</th>
        </tr>
        <tr>
          <th scope="col" class="pt-1"> <input type="text" name="" value="" class="col-12"> </th>
          <th scope="col" class="pt-1"> <input type="text" name="" value="" class="col-12"> </th>
          <th scope="col" class="pt-1"> <input type="text" name="" value="" class="col-12"> </th>
          <th scope="col" class="pt-1"> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">PRESUPUESTO PAVIMENTACIÓN</th>
          <td class="text-center">ABRIL</td>
          <td class="text-center">2019</td>
          <td class="text-center"><a href="#">VER ARCHIVO</a></td>
        </tr>
        <tr>
          <th scope="row">PRESUPUESTO PAVIMENTACIÓNPRESUPUESTO PAVIMENTACIÓN</th>
          <td class="text-center">ABRIL</td>
          <td class="text-center">2019</td>
          <td><a href="#">URL</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
