<div class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light uk-inline"
  data-src="./assets/images/fotografia/turismo.jpg" uk-img>
  <div class="uk-position-center-left bg-morado mt-5 ml-0 mr-md-5 px-5 border-medium-azul">
    <h2 class="strong-pincipal ml-0 mr-md-5 px-5 m-0">TURISMO</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
          <img src="./assets/images/fotografia/turismo/fiestapatronal.jpg" alt="" uk-cover>
          <canvas width="600" height="400"></canvas>
        </div>
        <div>
          <div class="uk-card-body">
            <h3 class="uk-card-title text-azul-black">FIESTA PATRONAL</h3>
            <p>
              Dentro de las ferias en nuestro municipio está el 12 de diciembre, en esta fecha celebramos el aniversario de nuestro
              Municipio y a Nuestra Señora de Guadalupe, en los inicios de la feria se realizan diferentes eventos como, la Antorcha
              Guadalupana que da inicio en el Santuario de la Ciudad de Durango y culmina en la Cabecera Municipal, carreras de caballos,
              coleaduras y peleas de gallos, por último se realiza la gran cabalgata Arrieros del Mezquital, la cual tiene inicio en
              el Poblado La Boca del Mezquital terminando en la Cabecera Municipal, las fechas de la cabalgata pueden variar
              de acuerdo a organización.
             </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-12">
          <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
              <img src="./assets/images/fotografia/turismo/lajoya.jpg" alt="" uk-cover>
              <canvas width="350" height="220"></canvas>
            </div>
            <div>
              <div class="uk-card-body">
                <h3 class="uk-card-title text-azul-black">BALNEARIO LA JOYA</h3>
                <p>A 3 Kilometros de la Cabecera</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
              <img src="./assets/images/fotografia/turismo/ecoturistico.jpg" alt="" uk-cover>
              <canvas width="350" height="220"></canvas>
            </div>
            <div>
              <div class="uk-card-body">
                <h3 class="uk-card-title text-azul-black">PARQUE ECOTURÍSTICO</h3>
                <p>Carretera Mezquital-Temoaya Kilometro 33.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
          <img src="./assets/images/fotografia/turismo/gastronomia.jpg" alt="" uk-cover>
          <canvas width="350" height="220"></canvas>
        </div>
        <div>
          <div class="uk-card-body">
            <h3 class="uk-card-title text-azul-black">GASTRONOMÍA</h3>
            <p>Queso añejo con receta propia de la región. <br>Empanadas de harina rellenas de camote, asi como jamoncillos viscochitos etc.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
          <img src="./assets/images/fotografia/turismo/mezcal.jpg" alt="" uk-cover>
          <canvas width="350" height="220"></canvas>
        </div>
        <div>
          <div class="uk-card-body">
            <h3 class="uk-card-title text-azul-black">EL MEZCAL</h3>
            <p>Elaborado por manos Mezquitalenses en algunas regiones del Municipio (Temoaya,Yonora…)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
  data-src="./assets/images/fotografia/turismo/visitamezquital.jpg" style="height: 90vh !important" uk-img>
  <h1 class="strong-pincipal">
    <span class="texto-chico-titulo">VISITA</span>
    <br>
    <span class="text-grande-titulo">EL MEZQUITAL</span>
    <br><span class="texto-chico-titulo uk-align-center m-0 mt-3">PUEBLO HERMOSO, LLENO DE <br> COLORES, SABORES Y TRADICIÓN.</span>
  </h1>
</div>
