<div class="container">
  <form action="">
    <div class="row">
      <div class="form-group col-md-4 col-12">
        <label class="" for="inputState">AÑO</label>
        <select id="inputState" class="form-control">
          <option value="2019" selected>2019</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
        </select>
      </div>
      <div class="form-group col-md-4 col-12">
        <label class="" for="inputState">TRIMESTRE</label>
        <select id="inputState" class="form-control">
          <option value="primero" selected>PRIMER TRIMESTRE</option>
          <option value="segundo">SEGUNDO TRIMESTRE</option>
          <option value="tercero">TERCER TRIMESTRE</option>
          <option value="cuarto">CUARTO TRIMESTRE</option>
        </select>
      </div>
      <div class="col-md-4 col-12">
        <label class="" for="inputState">ARCHIVO</label>

        <div class="custom-file">
          <input type="file" class="custom-file-input" id="validatedCustomFile" required>
          <label class="custom-file-label" for="validatedCustomFile">Seleccionar archivo</label>
          <!-- <div class="invalid-feedback">Example invalid custom file feedback</div> -->
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-4">
        <button type="button" name="button" class="btn button-morado col-12">GUARDAR</button>
      </div>
    </div>
  </form>
</div>
<hr>
<div class="container">
  <form action="" class=mb-3>
    <div class="row">
      <div class="form-group col-md-6 col-12">
        <label class="" for="inputState">AÑO</label>
        <select id="inputState" class="form-control">
          <option value="2019" selected>2019</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
        </select>
      </div>
      <div class="form-group col-md-6 col-12">
        <label class="" for="inputState">TRIMESTRE</label>
        <select id="inputState" class="form-control">
          <option value="primero" selected>PRIMER TRIMESTRE</option>
          <option value="segundo">SEGUNDO TRIMESTRE</option>
          <option value="tercero">TERCER TRIMESTRE</option>
          <option value="cuarto">CUARTO TRIMESTRE</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-4">
        <button type="button" name="button" class="btn button-morado col-12">CONSULTAR</button>
      </div>
    </div>

  </form>

  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col" class="text-center pb-0 font-weight-bold text-white">ARCHIVO</th>
        <th scope="col" class="text-center pb-0 font-weight-bold text-white">ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="text-center"><a href="#">DESCARGAR ARCHIVO</a></th>
        <td class="text-center"><a href="#">ELIMINAR ARCHIVO</a></td>
      </tr>
    </tbody>
  </table>
</div>
