<footer >
  <div class="container">
    <div class="row py-4">
      <div class="col-12 col-md-3">
        <div class="row">
          <div class="col-12"><h5 class="text-white strong-pincipal">Gobierno del Mezquital</h5></div>
          <div class="col-12"><a class="footer-url" [routerLink]="['/nosotros']">NUESTRO MUNICIPIO</a></div>
          <div class="col-12"><a class="footer-url" [routerLink]="['/alcaldia']">ALCALDIA</a></div>
          <div class="col-12"><a class="footer-url" [routerLink]="['/turismo']">TURISMO</a></div>
          <div class="col-12"><a class="footer-url"  [routerLink]="['/historia']">HISTORIA</a></div>
          <div class="col-12"><a class="footer-url" [routerLink]="['/galeria']">GALERÍA</a></div>
          <div class="col-12"><a class="footer-url" [routerLink]="['/pash']">REPORTES PASH</a></div>
          <div class="col-12"><a class="footer-url" [routerLink]="['/transparencia']">TRANSPARENCIA</a></div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="row">
          <div class="col-12"><h5 class="text-white strong-pincipal">Dependencias</h5></div>
          <!-- <div class="col-12"><a class="footer-url" href="#">Link1</a></div>-->
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="row">
          <div class="col-12"><h5 class="text-white strong-pincipal">Contacto</h5></div>
          <!-- <div class="col-12"><a class="footer-url" href="#">Link1</a></div> -->
        </div>
      </div>
      <div class="col-12 col-md-3 padre">
        <div class="row hijo">
          <div class="col-6 px-5">
            <a class="footer-url text-azul-claro redes-size" href="https://www.facebook.com/Presidencia-Municipal-2016-2019-Oficial-714995611987098/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          </div>
          <div class="col-6 px-5">
            <a class="footer-url text-azul-claro redes-size" href="https://twitter.com/MezquitalEl" target="_blank"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="derechos">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        Gobierno del Mezquital 2019
      </div>
      <div class="col-12 col-md-6">
        Desarrollo y diseño por DOS17 | Marketing Integral
      </div>
    </div>
  </div>
</div>
